.page.password-visibility-page {
  display: grid;
  place-items: center;
  margin: 0;
  padding: 0 20px;
  background: #3284ce;
  font-family: "Euclid Circular A", "Poppins";
  box-sizing: border-box;
}

.password-visibility :is(button, input) {
  border: 0;
  width: 100%;
  height: 60px;
  background: transparent;
  font-family: inherit;
  font-size: 16px;
  outline: none;
}

@keyframes clouds {
  0% {
    scale: 1;
    translate: 0;
  }
  50% {
    scale: 1.25;
  }
  100% {
    scale: 1;
    translate: -100px 0;
  }
}

.password-visibility-clouds {
  position: fixed;
  top: -50vh;
  left: 0;
  height: 150vh;
  animation: clouds 15s both infinite alternate linear;
}

.password-visibility {
  --color-primary: #0088ff;
  --color-muted: #5a616c;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100%;
  width: 70%;
  max-width: 400px;
  padding: 200px 60px;
  background: #121216;
}

.password-visibility > h2 {
  font-size: 32px;
  font-weight: 300;
  margin: 0 0 10px;
  color: rgb(255 255 255 / 96%);
}

.password-visibility > h3 {
  font-size: 16px;
  font-weight: 400;
  margin: 0 0 30px;
  color: var(--color-muted);
}

.password-visibility > form {
  margin: 0;
  display: grid;
  gap: 16px;
}

.password-visibility > form > button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 0 12px 0 24px;
  border-radius: 6px;
  background: var(--color-primary);
  color: #f9f9f9;
  border: 0;
  font-family: inherit;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s;
}

.password-visibility form > button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.password-visibility p > a {
  color: var(--color-primary);
  text-decoration: none;
}
