.dropdown-6 {
  flex: 1 1 auto;
  position: relative;
}

.dropdown-6 input {
  border: 0;
  border-radius: 52px;
  height: 52px;
  width: 100%;
  background: #f3f3f6;
  padding-left: 18px;
  padding-right: 36px;
  font-size: 14.75px;
  color: inherit;
  font-family: inherit;
  outline: none;
  border: 2px solid transparent;
  transition: 0.3s;
}

.dropdown-6.open input,
.dropdown-6 input:hover {
  border: 2px solid #eedfed;
  background: #ffffff;
}

.dropdown-6 > button {
  border: 0;
  display: grid;
  place-items: center;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  background: var(--color-primary);
  color: #f9f9f9;
  position: absolute;
  top: 50%;
  right: 8px;
  translate: 0 -50%;
  font-size: 18px;
}

.dropdown-6 button span {
  font-size: 20px;
}

.dropdown-6 input::placeholder {
  color: #9b98b1;
}

.dropdown-6 .dropdown-menu {
  position: absolute;
  z-index: 1;
  top: 60px;
  left: 0;
  right: 0;
  background: #ffffff;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding-bottom: 12px;
  box-shadow: 0px 40px 50px 0px rgba(0, 0, 0, 0.05);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.dropdown-6.open .dropdown-menu {
  opacity: 1;
  visibility: visible;
}

.dropdown-6 .dropdown-menu .item-btn {
  font-family: inherit;
  background: 0;
  padding: 12px 8px;
  border: 0;
  display: flex;
  gap: 8px;
  width: 100%;
  border-radius: 6px;
  color: inherit;
  cursor: pointer;
}

.dropdown-6 .dropdown-menu .item-btn:hover {
  background: rgb(0 0 0 / 3%);
}

.dropdown-6 .dropdown-item {
  position: relative;
  padding: 0 10px;
}

.dropdown-item span:first-child {
  opacity: 0.35;
}
