.page.dropdown-6-page {
  background: #fbfbfb;
  font-family: "Euclid Circular B", "Poppins";
}

.dropdown-6-page nav {
  --color-primary: #fe5495;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 0 36px;
  height: 78px;
  width: 100%;
  background: #ffffff;
  color: #403f49;
  box-shadow: 0 10px 50px rgb(0 0 0 / 2%);
}

.dropdown-6-page nav a {
  padding: 0 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100%;
  height: 72px;
  font-size: 15px;
}

.dropdown-6-page nav .avatar {
  height: 46px;
  padding: 1px;
  border-radius: 50%;
  border: 1px solid #8f44fd;
}

.dropdown-6-page nav > img {
  height: 32px;
}

.dropdown-6-page nav .menu {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

.dropdown-6-page nav .dropdown {
  position: fixed;
  z-index: 1;
  top: 86px;
  left: 0;
  width: 120px;
  padding: 6px 0;
  display: grid;
  opacity: 0;
  visibility: hidden;
  /* transition: 0.3s; */
  border-radius: 12px;
  background: #ffffff;
  box-shadow: 0 0 30px rgb(0 0 0 / 4%);
  transition: 0.3s;
}

.dropdown-6-page nav a:is(:hover, .active) {
  color: var(--color-primary);
}

.dropdown-6-page nav .dropdown.visible {
  opacity: 1;
  visibility: visible;
}

.dropdown-6-page nav .dropdown::after {
  content: "";
  position: absolute;
  top: -12px;
  width: 100%;
  height: 50px;
}

.dropdown-6-page nav .dropdown > a {
  position: relative;
  z-index: 1;
  height: 40px;
  font-size: 14px;
  white-space: nowrap;
}
