.page.sidebar-14-page {
  background: #1c1b23;
}

.page.sidebar-14-page button {
  background: transparent;
  border: 0;
  cursor: pointer;
}

.sidebar-14 {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  width: 56px;
  background: #5331ff;
  backdrop-filter: blur(10px);
  transition: 0.45s;
}

.sidebar-14 .material-symbols-outlined {
  font-size: 20px;
}

.sidebar-14.open {
  width: 190px;
  overflow: hidden;
}

.sidebar-14 .inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 190px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sidebar-14 header {
  display: flex;
  align-items: center;
  height: 64px;
  padding: 0 6px 0 48px;
}

.sidebar-14-burger {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 56px;
  height: 64px;
  display: grid;
  place-items: center;
  color: #f9f9f9;
}

.sidebar-14 header > img {
  height: 18px;
}

.sidebar-14 nav {
  display: flex;
  flex-direction: column;
  padding: 0 8px 20px;
  gap: 2px;
  flex: 1 1 auto;
}

.sidebar-14 nav > button {
  display: flex;
  gap: 12px;
  align-items: center;
  height: 40px;
  width: 40px;
  font-family: "Euclid Circular A";
  font-size: 14px;
  text-transform: capitalize;
  line-height: 1;
  padding: 0 10px;
  border-radius: 8px;
  color: #f9f9f9;
}

.sidebar-14 nav > button:last-child {
  margin-top: auto;
}

.sidebar-14 nav > button:hover {
  background: rgb(0 0 0 / 24%);
}

.sidebar-14:not(.open) nav p {
  visibility: hidden;
}

.sidebar-14:not(.open) nav > button:hover p {
  opacity: 1;
  visibility: visible;
  background: #2e2a47;
  padding: 5px 10px;
  font-size: 13px;
  border-radius: 6px;
  translate: 12px 0;
}

.sidebar-14 header > img,
.sidebar-14 nav > button p {
  opacity: 0;
  transition: 0.25s;
}

.sidebar-14.open :is(nav button p, header > img) {
  opacity: 1;
}

.sidebar-14.open nav > button {
  width: 100%;
}

@media (width <= 400px) {
  .sidebar-14 {
    translate: -100% 0;
  }

  .sidebar-14.open {
    translate: 0;
  }

  .sidebar-14:not(.open) button span {
    transition: 0.3s;
    opacity: 0;
  }
}
