.sidebar-8 header :is(h2, h3) {
  margin: 0;
}

.sidebar-8 {
  --color-hover: #313132;
  --border: 1px solid #2d2d2d;
  position: fixed;
  overflow: hidden;
  top: 24px;
  left: 24px;
  bottom: 28px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 80px;
  border-radius: 18px;
  border: var(--border);
  transition: 0.4s;
  background: #1c1c1c;
}

.sidebar-8 button {
  border: 0;
  background: transparent;
  font-size: 22px;
  color: inherit;
  border-radius: 8px;
  font-family: inherit;
  cursor: pointer;
  transition: 0.3s;
}

.sidebar-8-left,
.sidebar-8-right {
  position: absolute;
  top: 0;
  bottom: 0;
  transition: 0.4s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-8-left {
  z-index: 1;
  left: 0;
  width: 80px;
}

.sidebar-8-dots {
  position: absolute;
  top: 10px;
  left: 18px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ee6c5f;
}

.sidebar-8-dots::before,
.sidebar-8-dots::after {
  content: "";
  width: inherit;
  height: inherit;
  border-radius: inherit;
  position: inherit;
}

.sidebar-8-dots::before {
  left: 16px;
  background: #f7bc50;
}

.sidebar-8-dots::after {
  left: 32px;
  background: #61c453;
}

.sidebar-8-left img {
  width: 40px;
  margin: 36px 0 14px;
}

.sidebar-8-left button {
  width: 44px;
  height: 44px;
  display: grid;
  place-items: center;
  opacity: 0.8;
}

.sidebar-8-left button:hover {
  opacity: 1;
  background: var(--color-hover);
}

.sidebar-8-left div:last-of-type {
  margin-top: auto;
  margin-bottom: 16px;
}

.sidebar-8-right {
  left: 76px;
  height: 100%;
  position: relative;
}

.sidebar-8-right-inner {
  position: absolute;
  inset: 8px;
  left: 6px;
  border-radius: 12px;
  background: #1a1a1a;
  border: var(--border);
}

.sidebar-8-right header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 16px 18px;
}

.sidebar-8-right h2 {
  font-size: 16px;
  font-weight: 600;
}

.sidebar-8-right h3 {
  font-size: 12px;
  font-weight: 500;
  color: #7e7f82;
}

.sidebar-8-right nav {
  padding: 0 12px;
}

.sidebar-8-right button {
  padding: 0 12px;
  background: transparent;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 44px;
  font-size: 15px;
  opacity: 0.7;
}

.sidebar-8-right button:hover {
  opacity: 1;
  background: var(--color-hover);
}

.sidebar-8-right button i {
  font-size: 18px;
}

.sidebar-8:hover {
  width: 300px;
}

.sidebar-8:hover .sidebar-8-right {
  width: 225px;
}
