.page.sidebar-15-page {
  --color-bg: #f4f6fa;
  --color-primary: #121926;
  --color-muted: #9fa4af;
  --color-hover: #e8ecf4;
  margin: 0;
  background: #dadee5;
  color: #5d6674;
  height: 100vh;
  font-family: "Euclid Circular A";
}

.sidebar-15 h2,
.sidebar-15 h3 {
  margin: 0;
}

.sidebar-15 {
  position: fixed;
  overflow: hidden;
  top: 24px;
  left: 18px;
  bottom: 28px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 80px;
  border-radius: 18px;
  transition: 0.4s;
  background: #ffffff;
}

.sidebar-15 button {
  border: 0;
  background: transparent;
  font-size: 22px;
  color: inherit;
  border-radius: 8px;
  font-family: inherit;
  cursor: pointer;
  transition: 0.3s;
}

.sidebar-15 .left,
.sidebar-15 .right {
  position: absolute;
  top: 0;
  bottom: 0;
  transition: 0.4s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-15 .left {
  z-index: 1;
  left: 0;
  width: 80px;
  background: #ffffff;
}

.sidebar-15 .left img {
  width: 40px;
  margin: 24px 0 28px;
}

.sidebar-15 .left button {
  width: 44px;
  height: 44px;
  display: grid;
  place-items: center;
}

.sidebar-15 .left button:hover {
  background: var(--color-bg);
  color: #384251;
}

.sidebar-15 .left div:last-of-type {
  margin-top: auto;
  margin-bottom: 20px;
}

.sidebar-15 .right {
  left: 76px;
  height: 100%;
  position: relative;
}

.sidebar-15 .right-inner {
  position: absolute;
  inset: 8px;
  left: 4px;
  border-radius: 12px;
  background: var(--color-bg);
}

.sidebar-15 .right .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 16px 28px;
}

.sidebar-15 .right h2 {
  font-size: 16px;
  font-weight: 600;
}

.sidebar-15 .right h3 {
  font-size: 12px;
  font-weight: 500;
  color: var(--color-muted);
}

.sidebar-15 .right nav {
  padding: 0 12px;
}

.sidebar-15 .right button {
  padding: 0 12px;
  background: transparent;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 44px;
  font-size: 14px;
}

.sidebar-15 .right button i:last-child {
  opacity: 0;
  font-size: 16px;
  margin-left: auto;
  transition: 0.3s;
}

.sidebar-15 .right button:hover {
  background: var(--color-hover);
  color: #384251;
}

.sidebar-15 .right button:hover i:last-child {
  opacity: 1;
  color: var(--color-muted);
}

.sidebar-15 .right button i {
  font-size: 18px;
}

.sidebar-15:hover {
  width: 300px;
}

.sidebar-15:hover .right {
  width: 225px;
}

.sidebar-15 .submenu {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 8px 0 8px 29px;
  font-size: 14px;
  cursor: pointer;
}

.sidebar-15 .submenu::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 21px;
  bottom: 8px;
  width: 1px;
  background: var(--color-muted);
  opacity: 0.33;
}

.sidebar-15 .submenu li {
  white-space: nowrap;
  height: 36px;
  padding-left: 12px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s;
}

.sidebar-15 .submenu li:hover {
  background: var(--color-hover);
  color: #384251;
  cursor: pointer;
}

.sidebar-15 .submenu .badge {
  font-size: 10px;
  padding: 3px 5px;
  border-radius: 4px;
  background: var(--color-primary);
  color: #ffffff;
  margin-right: 12px;
}
