.page.navbar-page {
  background: #f8f7ff;
  font-family: "Euclid Circular A", "Poppins";
}

.navbar {
  --color-primary: #6f5bf3;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 72px;
  width: 100%;
  background: #ffffff;
  color: #5b5968;
  box-shadow: 0 10px 50px rgb(0 0 0 / 2%);
}

.navbar a {
  padding: 0 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100%;
  height: 72px;
  font-size: 15px;
}

.navbar > img {
  margin: 0 24px 0 0;
  height: 36px;
  width: 36px;
}

.navbar-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

.navbar-dropdown {
  position: fixed;
  z-index: 1;
  top: 82px;
  left: 0;
  height: 0;
  width: 120px;
  padding: 6px 0;
  overflow: hidden;
  display: grid;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  border-radius: 6px;
  background: #ffffff;
  box-shadow: 0 0 30px rgb(0 0 0 / 4%);
  transition: 0.3s;
}

.navbar a:is(:hover, .active) {
  color: var(--color-primary);
}

.navbar-dropdown.visible {
  opacity: 1;
  visibility: visible;
  height: max-content;
}

.navbar-dropdown::after {
  content: "";
  position: absolute;
  inset: 0;
  top: -12px;
}

.navbar-dropdown > a {
  position: relative;
  z-index: 1;
  height: 40px;
  font-size: 14px;
  white-space: nowrap;
}

.navbar-search {
  position: relative;
  margin-left: auto;
}

.navbar-search span {
  position: absolute;
  top: 50%;
  left: 12px;
  translate: 0 -50%;
  font-size: 18px;
}

.navbar-search input {
  border: 0;
  border-radius: 6px;
  height: 36px;
  width: 100%;
  max-width: 200px;
  background: #f6f5fd;
  padding-left: 36px;
  font-size: 15px;
}

.navbar-search span,
.navbar-search input::placeholder {
  color: #9b98b1;
}
