.scroll-reveal {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px 0;
  margin: 0 auto;
}

.scroll-reveal > div {
  background: #121419;
  height: 190px;
  width: 30%;
  opacity: 0;
  transition: background 0.3s;
}

.scroll-reveal > div:hover {
  background: #3e70ff;
}
