.accordion-2 {
  list-style: none;
  margin: 0;
  padding: 0;
}

.accordion-2-item h2 {
  display: flex;
  align-items: center;
  height: 48px;
  padding: 0 10px 0 20px;
  border-radius: 8px;
  cursor: pointer;
  background: #2d2f3c;
  margin: 0 0 10px;
  color: #f8f8f8;
  font-size: 16px;
  font-weight: 400;
  transition: 0.3s;
  opacity: 0.7;
}

.accordion-2-item h2:hover {
  background: #303341;
  opacity: 1;
}

.accordion-2-item h2.active {
  background: #3472ff;
  opacity: 1;
}

.accordion-2-item h2.active > span:last-child {
  rotate: -180deg;
}

.accordion-2-item p {
  padding: 0 20px 10px;
  line-height: 1.7;
  font-size: 14px;
  margin: 0;
  opacity: 0.65;
  cursor: pointer;
}

.accordion-2-item > h2 > span {
  transition: 0.3s;
}

.accordion-2-content {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease;
}
