* {
  box-sizing: border-box;
}

.sidebar-6 {
  --width-open: 260px;
  --width-closed: 64px;
}

.page.sidebar-6-page {
  background: #484082;
}

.sidebar-6 button {
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
}

.sidebar-6 {
  position: absolute;
  top: 20px;
  left: 20px;
  bottom: 30px;
  width: var(--width-closed);
  border-radius: 16px;
  background: #231f33;
  transition: width 0.3s;
}

.sidebar-6.open {
  width: var(--width-open);
}

.sidebar-6 .toggle-btn {
  position: absolute;
  z-index: 2;
  top: 24px;
  right: -12px;
  display: grid;
  place-items: center;
  padding: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #373153;
  color: #8f8d9b;
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
  transition: 0.3s;
}

.sidebar-6 .toggle-btn:hover {
  color: #f9f9f9;
}

.sidebar-6.open .toggle-btn {
  rotate: 180deg;
}

.sidebar-6 .search {
  position: relative;
  padding: 16px 0;
  margin: 0 10px 0;
  width: calc(var(--width-closed) - 20px);
  transition: 0.3s;
}

.sidebar-6.open .search {
  width: calc(var(--width-open) - 20px);
}

.sidebar-6 .search span {
  position: absolute;
  top: 26px;
  left: 12px;
  color: rgb(255 255 255 / 25%);
}

.sidebar-6 .search input {
  background: rgb(255 255 255 / 4%);
  border: 0;
  border-radius: 8px;
  font-family: inherit;
  width: 100%;
  height: 44px;
  font-size: 17px;
  padding-left: 30px;
  transition: 0.3s;
}

.sidebar-6 .search input::placeholder {
  color: rgb(255 255 255 / 0%);
}

.sidebar-6.open .search input::placeholder {
  color: rgb(255 255 255 / 25%);
}

.sidebar-6.open .search input {
  padding-left: 52px;
}

.sidebar-6 .inner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 260px;
}

.sidebar-6 .header {
  display: flex;
  align-items: center;
  height: 72px;
  width: var(--width-closed);
  padding: 0 20px;
  background: rgb(0 0 0 / 15%);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  transition: 0.3s;
}

.sidebar-6.open .header {
  width: var(--width-open);
}

.sidebar-6 .header h1 {
  margin-left: 12px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 2px;
}

.sidebar-6 .logo {
  height: 28px;
}

.sidebar-6 .menu {
  position: relative;
  display: grid;
}

.sidebar-6 .menu::after {
  content: "";
  position: absolute;
  top: 0;
  left: 4px;
  height: 56px;
  width: 4px;
  background: #656aff;
  translate: 0 var(--top);
  transition: 0.3s;
}

.sidebar-6 .menu button {
  display: flex;
  gap: 16px;
  align-items: center;
  height: 56px;
  width: var(--width-closed);
  font-family: "Poppins";
  font-size: 17px;
  text-transform: capitalize;
  line-height: 1;
  padding: 0 22px;
  color: rgb(255 255 255 / 40%);
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
}

.sidebar-6.open .menu button {
  width: var(--width-open);
}

.sidebar-6 .menu :is(button:hover, .active) {
  color: rgb(255 255 255 / 100%);
  opacity: 1;
}

.sidebar-6.open .menu .active {
  cursor: default;
}

.sidebar-6 .menu button:hover > span {
  opacity: 1;
}

.sidebar-6 .menu button p,
.sidebar-6 .header h1 {
  opacity: 0;
}

.sidebar-6.open :is(.sidebar-6 .menu button p, .sidebar-6 .header h1) {
  opacity: 1;
}

.sidebar-6.open .logo {
  scale: 1;
}

.sidebar-6 .menu button > img {
  width: 24px;
  height: 24px;
}
