.table-3 {
  width: 100%;
  border-collapse: collapse;
}

.table-3 td {
  padding: 16px;
  white-space: nowrap;
}

.table-3 tr td:last-of-type {
  text-align: right;
}

.table-3 th:first-of-type {
  width: 20px;
}

.table-3 tr td:first-child,
.table-3 tr th:first-child {
  padding-right: 2px;
}

.table-3 tr td:last-child,
.table-3 tr th:last-child {
  padding-right: 12px;
}

.table-3 th:nth-child(2) {
  width: 133px;
  max-width: 133px;
  min-width: 133px;
}

.table-3 th:nth-child(3) {
  width: 180px;
  max-width: 180px;
  min-width: 180px;
}

.table-3 th {
  padding: 20px 16px;
  font-weight: 500;
  text-align: left;
  text-transform: capitalize;
}

.table-3 :is(td, th) {
  border-bottom: 1px solid #2d2d2d;
}

.table-3-footer {
  display: flex;
  align-items: center;
}

.table-3-footer p {
  margin: 0;
  font-size: 14px;
  color: #8a8a8a;
}

.table-3-footer p em {
  color: #ffffff;
  font-style: normal;
}

.table-3-pagination {
  padding: 16px;
  display: flex;
}

.table-3-pagination > button {
  background: transparent;
  border: 1px solid #2d2d2d;
  border-right: 0;
  color: #ffffff;
  font-family: inherit;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  font-size: 14px;
  transition: 0.3s;
}

.table-3-pagination > button:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.table-3-pagination > button:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-right: 1px solid #2d2d2d;
}

.table-3-pagination > button:hover {
  background: rgb(255 255 255 / 1%);
}

.table-3-pagination > button.active {
  background: #2d2d2d;
}
