.page.accordion-3-page {
  background: #141415;
}

.page.accordion-3-page .bg {
  background-size: cover;
  position: fixed;
  width: 100vh;
  min-width: 100vh;
  max-width: 100vh;
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  top: 0;
  left: 0;
  filter: grayscale(5);
  transition: background 0.5s;
}

.page.accordion-3-page .bg::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgb(0 0 0 / 80%);
  backdrop-filter: blur(16px);
}

.accordion-3-item:hover {
  opacity: 0.5;
}

.accordion-3 :is(h2, p) {
  margin: 0;
}

.accordion-3 {
  display: flex;
  gap: 12px;
}

.accordion-3-item {
  position: relative;
  overflow: hidden;
  background: #ffffff;
  width: 64px;
  height: 500px;
  border-radius: 36px;
  display: flex;
  align-items: flex-end;
  opacity: 0.25;
  cursor: pointer;
  transition: 0.5s;
}

.accordion-3-item h2 {
  font-size: 24px;
  font-weight: 400;
  color: rgb(255 255 255 / 96%);
}

.accordion-3-item p {
  color: rgb(255 255 255 / 66%);
}

.accordion-3-item.active {
  width: 400px;
  opacity: 1;
}

.accordion-3-item .material-symbols-outlined.icon {
  display: grid;
  place-items: center;
  width: 50px;
  height: 50px;
  background: rgb(255 255 255 / 20%);
  border-radius: 50%;
  font-size: 28px;
}

.accordion-3-item .content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 400px;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  padding: 100px 0 20px 20px;
  display: flex;
  align-items: center;
  gap: 14px;
  background: linear-gradient(to bottom, rgb(0 0 0 / 0%), rgb(0 0 0 / 80%));
  transition: 0.25s;
}

.accordion-3-item.active .content {
  opacity: 1;
  visibility: visible;
}

.accordion-3-item img {
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  height: 150%;
  filter: grayscale(0.5);
}
