.page.table-1-page {
  background: linear-gradient(45deg, #2c3c5e, #1a2239);
  color: #f9f9f9;
  display: flex;
  align-items: flex-start;
  display: grid;
  place-items: center;
}

.table-1-card {
  background: rgb(255 255 255 / 3%);
  border: 2px solid rgb(255 255 255 / 3%);
  backdrop-filter: blur(10px);
  border-radius: 12px;
  padding: 24px;
  font-size: 12px;
}

.table-1-card .header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.table-1-card .header h2 {
  font-weight: 400;
  opacity: 0.6;
  display: flex;
  align-items: center;
}

.table-1-card .header button {
  background: #2e5fdc;
  color: rgb(255 255 255 / 96%);
  font-size: 12px;
  border: 0;
  border-radius: 20px;
  font-family: inherit;
  padding: 8px 14px;
}
