.dropdown-5 {
  position: relative;
  display: grid;
  place-items: center;
  height: 72px;
}

.dropdown-5-overlay {
  position: fixed;
  inset: 0;
  background: rgb(0 0 0 / 40%);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.dropdown-5-overlay.open {
  opacity: 1;
  visibility: visible;
}

.dropdown-5 button {
  position: relative;
  display: grid;
  place-items: center;
  width: 36px;
  height: 36px;
  background: transparent;
}

.dropdown-5-menu {
  position: fixed;
  width: 270px;
  height: 352px;
  max-height: 352px;
  border-radius: 14px;
  opacity: 0;
  visibility: hidden;
  appearance: none;
  border: 7px solid #282a2c;
  background: #1b1b1b;
  box-shadow: 0 -20px 18px rgb(0 0 0 / 12%), 0 16px 40px rgb(0 0 0 / 12%);
}

.dropdown-5-menu-inner {
  position: absolute;
  top: 4px;
  left: 0;
  right: -7px;
  bottom: 4px;
  overflow-x: hidden;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: max-content;
  border-radius: inherit;
  padding: 7px;
}

.dropdown-5-menu-inner::-webkit-scrollbar {
  width: 7px;
  padding-top: 40px;
  background: #282a2c;
}

.dropdown-5-menu-inner::-webkit-scrollbar-thumb {
  background: #464749;
  border-radius: 6px;

  background-clip: content-box;
}

.dropdown-5-menu.open {
  opacity: 1;
  visibility: visible;
  translate: 0;
}

.dropdown-5-menu button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 6px;
  font-family: inherit;
  color: #6d696b;
  height: 80px;
  border: 0;
  border-radius: 8px;
  background: transparent;
  cursor: pointer;
}

.dropdown-5-menu button:hover {
  background: #282a2c;
  color: #c5c7c5;
}

.dropdown-5-menu button > img {
  width: 64px;
  height: 64px;
  padding: 16px;
}

.dropdown-5-menu button > span:first-child {
  display: block;
  width: 64px;
  height: 64px;
  scale: 0.7;
  background-image: url("./icons.png");
  background-position: 0 -3105px;
  background-size: 64px 3307px;
  background-repeat: no-repeat;
}

.dropdown-5-menu button > span:last-child {
  font-size: 12px;
  translate: 0 -12px;
}
