* {
  box-sizing: border-box;
}

.page {
  display: grid;
  place-items: center;
  margin: 0;
  background: #f9f6fc;
  color: #2e2c2f;
  font-family: "Euclid Circular A", "Poppins";
  --color-primary: #7b00f1;
  --color-muted: #ada5b4;
}

.card .bars {
  margin: 8px 0;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  gap: 8px;
  height: 6px;
  border-radius: 3px;
  background: #f4f1f7;
}

.card .bars div {
  height: 6px;
  border-radius: 3px;
  transition: 0.4s;
  width: 0%;
}

.card .bars.weak div {
  background: #e24c71;
  width: 33.33%;
}

.card .bars.medium div {
  background: #f39845;
  width: 66.66%;
}

.card .bars.strong div {
  background: #57c558;
  width: 100%;
}

.card .strength {
  text-align: left;
  height: 20px;
  font-size: 13px;
  text-transform: capitalize;
  color: #868b94;
}

.blob,
.orbit {
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.blob {
  width: 85vw;
  max-width: 550px;

  aspect-ratio: 1 / 1;
}

@keyframes spin {
  100% {
    rotate: 1turn;
  }
}

.orbit {
  width: 95vw;
  max-width: 720px;
  aspect-ratio: 1 / 1;
  border: 2px solid #ffffff;
  border-radius: 50%;
  animation: spin 50s infinite linear;
}

.orbit::before,
.orbit::after {
  content: "";
  position: absolute;
  width: 24px;
  aspect-ratio: 1 / 1;
  border-radius: inherit;
  background: #f39f1a;
}

.orbit::before {
  top: 50%;
  width: 18px;
  left: -9px;
}

.orbit::after {
  top: 50%;
  right: -12px;
}

.card {
  position: relative;
  z-index: 2;
  background: #ffffff;
  border-radius: 24px;
  padding: 72px 32px 48px;
  width: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0 10px 50px rgb(96 68 121 / 10%);
}

.card img {
  width: 96px;
  margin: 0 0 32px;
}

.card :is(h2, h3) {
  font-weight: 500;
}

.card h2 {
  font-size: 18px;
  margin: 0 0 6px;
}

.card h3 {
  color: var(--color-muted);
  font-size: 13px;
  margin: 0 0 32px;
}

.card form {
  display: grid;
  gap: 12px;
  width: 100%;
  margin: 0 0 20px;
}

.card :is(input, button) {
  height: 52px;
  font-family: inherit;
  font-size: 15px;
  padding: 0 12px;
  border: 0;
  border-radius: 8px;
}

.card .textbox {
  position: relative;
}

label,
input {
  transition: 0.3s;
}

.textbox label {
  position: absolute;
  top: 50%;
  left: 12px;
  translate: 0 -50%;
  transform-origin: 0 50%;
  pointer-events: none;
  color: var(--color-muted);
}

.textbox input {
  width: 100%;
  padding-top: 10px;
  background: #f4f1f7;
  outline: none;
  color: inherit;
  box-shadow: 0 0 0 2px transparent;
}

.textbox input:focus {
  box-shadow: 0 0 0 2px var(--color-primary);
}

.textbox input:is(:focus, :not(:invalid)) ~ label {
  scale: 0.725;
  translate: 0 -112%;
}

.card button {
  color: #f9f9f9;
  background: var(--color-primary);
}

.card a {
  font-size: 14px;
  color: var(--color-primary);
}

.card p {
  margin: 48px 0 0;
  font-size: 14px;
  color: var(--color-muted);
}
