.modal-2-overlay,
.modal-2-modal {
  position: fixed;
}

@keyframes overlay-in {
  0% {
    scale: 0 0.003;
  }
  33%,
  36% {
    scale: 1 0.003;
  }
  66%,
  100% {
    scale: 1 1;
  }
}

.modal-2-overlay {
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(0 0 0 / 75%);
  display: grid;
  place-items: center;
}

.modal-2-overlay.open {
  animation: overlay-in 1s both;
}

.modal-2-overlay.closed {
  animation: overlay-in 1s 0.25s reverse both;
}

.modal-2-overlay.default {
  scale: 0;
}

@keyframes modal-in {
  0% {
    opacity: 0;
    visibility: hidden;
    scale: 0.5;
  }
  100% {
    opacity: 1;
    visibility: visible;
    scale: 1;
  }
}

.modal-2-modal {
  z-index: 2;
  width: 380px;
  top: 50%;
  left: 50%;
  background: #ffffff;
  border-radius: 12px;
  padding: 0 40px 50px;
  translate: -50% -50%;
  box-shadow: 0 10px 30px rgb(0 0 0 / 24%);
}

.modal-2-modal.default {
  opacity: 0;
  visibility: hidden;
}

.modal-2-modal.open {
  animation: modal-in 0.5s 0.6s both;
}

.modal-2-modal.closed {
  animation: modal-in 0.5s reverse both;
}

.modal-2-modal header {
  background: linear-gradient(90deg, #9d50bb, #6e48aa);
  margin: -85px -20px 30px;
  border-radius: 12px;
  height: 170px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 40px;
  box-shadow: 0 16px 30px rgb(0 0 0 / 12%);
}

.modal-2-modal header h2 {
  margin-bottom: 10px;
  font-size: 29px;
}

.modal-2-modal header h3 {
  opacity: 0.45;
  font-weight: 400;
}
