.page.login-2-page {
  --color-primary: #6387ff;
  --color-dark: #496cf5;
  --color-muted: hsl(226, 12%, 51%);
  margin: 0;
  background: #22262b;
  background: url("bg.svg") no-repeat;
  background-size: cover;
  background-position: center;
  color: #f9f9f9;
  height: 100vh;
  display: grid;
  place-items: center;
  overflow: hidden;
  font-family: "Euclid Circular B";
}

.login-2 ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.login-2 input,
.login-2 button {
  font-family: inherit;
  color: inherit;
}

.login-2 button {
  padding: 0;
  cursor: pointer;
}

.login-2 p {
  font-size: 12px;
  margin: 12px 0;
}

.login-2 p a {
  color: var(--color-primary);
}

.login-2 {
  display: flex;
  align-content: stretch;
  width: 660px;
  height: 360px;
  background: #242b43;
  backdrop-filter: blur(20px);
  box-shadow: 0 20px 80px rgba(0 0 0 / 20%);

  border-radius: 6px;
}

.login-2 .card-nav {
  position: relative;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 178px;
}

.login-2 .card-nav .active-bar {
  position: absolute;
  top: 33.33%;
  left: 0;
  width: 5px;
  height: 33.33%;
  border-radius: 6px;
  background: var(--color-dark);
  transition: 0.4s ease-out;
}

.login-2 .card-nav li {
  flex: 1 1 auto;
  display: grid;
  place-items: center;
}

.login-2 .card-nav li button.active {
  color: var(--color-primary);
}

.login-2 .card-nav button {
  background: transparent;
  border: 0;
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 14px;
  transition: 0.3s;
}

.login-2 .card-nav button:not(.active):hover i {
  scale: 1.1;
}

.login-2 .card-nav button i {
  font-size: 24px;
  transition: 0.3s;
}

.login-2 .card-hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: -48px 0;
  flex: 0 0 300px;
  overflow: hidden;
  border-radius: 12px;
  background: var(--color-dark);
}

.login-2 .card-hero-inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.5s ease-in-out;
}

.login-2 .card-hero-content {
  height: 456px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-2 h2,
.login-2 h3 {
  text-align: left;
  font-weight: 400;
  margin: 0;
  padding-left: 24px;
}

.login-2 .card-hero h2 {
  color: #f9f9f9;
  margin: 0 0 2px;
}

.login-2 .card-hero h3 {
  color: #f9f9f9;
  opacity: 0.75;
  font-size: 13px;
  margin: 0 0 32px;
}

.login-2 .card-hero img {
  width: 100%;
}

.login-2 .card-form {
  position: relative;
  overflow: hidden;
  padding: 24px;
  width: 400px;
}

.login-2 .forms {
  position: absolute;
  height: 200%;
  left: 0;
  top: 0;
  transition: 0.5s ease-in-out;
}

.login-2 .card-form form {
  height: 360px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.login-2 .card-form label {
  font-size: 13px;
  color: var(--color-muted);
}

.login-2 .control {
  position: relative;
}

.login-2 .control input {
  background: rgb(255 255 255 / 4%);
  border: 0;
  border-radius: 6px;
  width: 100%;
  height: 40px;
  padding: 0 12px;
  outline: none;
  transition: 0.3s;
}

.login-2 .control input:focus {
  box-shadow: 0 0 0 2px var(--color-primary);
}

.login-2 .control input::placeholder {
  color: #bdbcd2;
}

.login-2 .control input:focus ~ i {
  color: var(--color-primary);
}

.login-2 .control i {
  color: var(--color-muted);
  position: absolute;
  top: 50%;
  right: 12px;
  translate: 0 -50%;
  transition: 0.3s;
}

.login-2 .card-form form > button {
  height: 40px;
  padding: 12px 20px;
  border-radius: 6px;
  color: #f9f9f9;
  letter-spacing: 1px;
  border: 0;
  margin-top: 12px;
  background: var(--color-dark);
}

.login-2 p.footer {
  opacity: 0.75;
}
