.page.sidebar-10-page {
  background: url("./bg.jpg") #6a6eb7;
  background-size: cover;
  background-position: -200px;
  font-family: "Euclid Circular B", "Poppins";
}

.page.sidebar-10-page::after {
  content: "";
  position: fixed;
  z-index: 0;
  inset: 0;
  background: linear-gradient(rgb(0 0 0 / 80%), rgb(0 0 0 / 50%));
}

.sidebar-10 {
  position: absolute;
  z-index: 2;
  top: 20px;
  left: 20px;
  border-radius: 10px;
  width: 280px;
  padding: 8px;
  background: rgb(255 255 255 / 4%);
  backdrop-filter: blur(10px);
}

.sidebar-10-header {
  display: flex;
  align-items: center;
  padding: 0 16px;
  gap: 9px;
  height: 56px;
  padding-bottom: 8px;
  font-size: 16px;
  font-weight: 400;
}

.sidebar-10-header > span:first-child {
  font-size: 20px;
}

.sidebar-10 ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-10 button {
  background: transparent;
  color: inherit;
  border: 0;
  border-radius: 12px;
  width: 100%;
  height: 48px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-family: inherit;
  cursor: pointer;
  opacity: 0.75;
  transition: 0.3s;
}

.sidebar-10 button:hover {
  opacity: 1;
}

.sidebar-10 button span {
  font-size: 20px;
}

.sidebar-10 button span:first-child {
  color: #a0a0b8;
}

.sidebar-10 button span:nth-child(3) {
  margin-left: auto;
  rotate: 90deg;
  transition: 0.2s;
}

.sidebar-10 .block.open button span:nth-child(3) {
  rotate: 0deg;
}

.sidebar-10 .blocks {
  display: grid;
  gap: 8px;
}

.sidebar-10 .block {
  overflow: hidden;
  position: relative;
  border-radius: 12px;
  background: rgb(255 255 255 / 3%);
  transition: 0.3s;
}

.sidebar-10 .block:hover {
  background: rgb(255 255 255 / 6%);
}

.sidebar-10 .block.open {
  background: rgb(255 255 255 / 6%);
}

.sidebar-10 .block-inner {
  height: 0;
  overflow: hidden;
  transition: height 0.5s;
}

.block-items button {
  border-radius: 0;
  opacity: 0.55;
  transition: 0.3s;
}

.block-items button:hover {
  opacity: 1;
  background: rgb(255 255 255 / 3%);
}
