.page-wrapper {
  background: #000;
}

.delete-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 0;
  background: #fc3b51;
  font-size: 24px;
  font-weight: 400;
  font-family: "Euclid Circular A";
  color: #f9f9f9;
  padding: 0 10px 0 32px;
  height: 74px;
  text-align: left;
  cursor: pointer;
  outline: none;
  transition: 0.3s;
}

.delete-button .button-text {
  display: block;
  text-align: center;
  min-width: 94px;
}

.delete-button .animation {
  position: relative;
  overflow: hidden;
  display: grid;
  place-items: center;
  width: 64px;
  height: 74px;
  flex: 0 0 64px;
  min-width: 0;
}

.delete-button .can {
  overflow: hidden;
  position: relative;
  translate: 0 2px;
  width: 20px;
  height: 22px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 2px solid #ffffff;
  border-top: 0;
}

@keyframes lid-open {
  0% {
    rotate: 0;
  }
  15%,
  90% {
    rotate: -75deg;
    translate: -70% -20%;
    width: 20px;
  }
}

.delete-button .lid {
  position: absolute;
  top: 24px;
  left: 50%;
  translate: -50% 0;
  transform-origin: 0% 0%;
  width: 24px;
  height: 2px;
  background: #ffffff;
}

@keyframes balls-drop {
  0%,
  20% {
    translate: -50% 0;
  }
  40% {
    scale: 1 1;
  }
  40%,
  100% {
    translate: -50% 72px;
  }

  50%,
  100% {
    scale: 2.1 1;
  }
}

.delete-button .balls {
  position: absolute;
  top: -32px;
  left: 50%;
  translate: -50% 0;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #ffffff;
}

@keyframes fill {
  0%,
  20% {
    translate: 0 0;
  }
  50%,
  70% {
    translate: 0 -50%;
  }
  90%,
  100% {
    translate: 0 -100%;
  }
}

.delete-button .filler {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -32px;
  width: 64px;
  height: 120%;
  background: #ffffff;
}

.delete-button:disabled {
  cursor: not-allowed;
}

.delete-button.deleting .balls {
  animation: balls-drop 2 linear 1.25s;
}

.delete-button.deleting .filler {
  animation: fill 2.5s both;
}

.delete-button.deleting .lid {
  animation: lid-open 2.5s both;
}
