* {
  box-sizing: border-box;
}

.page.sidebar-4-page {
  background: #36367f;
}

.sidebar-4 .button {
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
}

.sidebar-4 {
  position: absolute;
  overflow: hidden;
  top: 20px;
  left: 20px;
  bottom: 30px;
  width: 64px;
  border-radius: 16px;
  background: #21214c;
  transition: width 0.4s;
}

.sidebar-4:hover {
  width: 260px;
}

.sidebar-4 .inner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 260px;
}

.sidebar-4 .header {
  display: flex;
  align-items: center;
  height: 72px;
  padding: 0 20px;
  background: rgb(0 0 0 / 15%);
}

.sidebar-4 .header h1 {
  margin-left: 12px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 2px;
}

.sidebar-4 .logo {
  height: 28px;
  scale: 1.1;
  transition: 0.5s;
}

.sidebar-4 .menu {
  position: relative;
  display: grid;
}

.sidebar-4 .menu::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 56px;
  width: 6px;
  background: #6154f7;
  translate: 0 var(--top);
  transition: 0.5s;
}

.sidebar-4 .menu button {
  display: flex;
  gap: 16px;
  align-items: center;
  height: 56px;
  width: 100%;
  font-family: "Poppins";
  font-size: 17px;
  text-transform: capitalize;
  line-height: 1;
  padding: 0 22px;
  color: rgb(255 255 255 / 60%);
  cursor: pointer;
  opacity: 0.8;
  transition: 0.5s;
}

.sidebar-4:hover .menu button:hover:not(.active) {
  background: rgb(0 0 0 / 8%);
}

.sidebar-4 .menu :is(button:hover, .active) {
  background: rgb(0 0 0 / 35%);
  color: rgb(255 255 255 / 100%);
  opacity: 1;
}

.sidebar-4:hover .menu .active {
  cursor: default;
}

.sidebar-4 .menu button:hover > span {
  opacity: 1;
}

.sidebar-4 .menu button p,
.sidebar-4 .header h1 {
  opacity: 0;
  transition: 0.5s;
}

.sidebar-4:hover :is(.sidebar-4 .menu button p, .sidebar-4 .header h1) {
  opacity: 1;
}

.sidebar-4:hover .logo {
  scale: 1;
}

.sidebar-4 .menu button > img {
  width: 24px;
  height: 24px;
}
