body {
  margin: 0;
  /* background: #6a8faa; */
  color: #f9f9f9;
  background: #2b2a2f;
  font-family: "Euclid Circular B", "Poppins";
  /* overflow: hidden; */
}

* {
  box-sizing: border-box;
}

.page {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}
