.page.carousel-2-page {
  background: #010101;
  font-size: 14px;
  color: #010101;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  padding-top: 50px;
  padding-bottom: 140px;
}

.swiper .swiper-slide {
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  width: 300px;
  height: 250px;
  filter: saturate(1.2);
  -webkit-box-reflect: below 1px
    linear-gradient(transparent, transparent, #0006);
}
